.bg-account {
  background: url(../assets/img/bg-account.png) no-repeat right top;
  min-height: 700px;
}

.welcome-text {
  color: #EC5858;
  font-size: 24px;
  font-weight: 500;
}

.user_top {
  margin-top: 60px;
}
.user_card {
  border-radius: 20px 20px 0 0;
  background-color: #FFDCDC;
  padding: 40px 20px 0;
}
.user_card_feature {
  color: rgb(236, 88, 88);
  font-weight: 500;
  font-size: 18px;
  margin-left: 6px;
}

.user_card_text {
  font-weight: 500;
  font-size: 18px;
}

.user_level {
  background-image: linear-gradient(to bottom right, rgba(255,255,255), rgba(236,88,88));
  border: 10px solid #fff;
}

.user_level_content {
  min-width: 140px;
  min-height: 140px;
  background: #fff;
  border-radius: 100%;
  padding-top: 25px;
}

.user_background_level {
  top: -60px;
  left: 50%;
  margin-left: -90px;
}

.user_summary {
  min-height: 180px;
}

.user_navigation {
  background: #FF9595;
}
.background-line {
  margin: 0 -20px;
  bottom: 72px;
  left: 0;
  right: 0;
}
.curve-line {
  position: absolute;
  z-index: 5;
  top: -97px;
}

.backscene {
  width: 100%;
  height: 80%;
  top: -65px;
  padding-top: 137px;
}

.wave {
  bottom: 100%;
  margin: 0 20px;
  z-index: 10;
}

.bg-notice {
  background-image: linear-gradient(to right, #FF9595, #FF5D5D);
}

.btn-primary {
  color: #EC5858;
}

.button-has-left-icon {
  width: 18px;
  display: inline-block;
}

.button-text {
  padding-left: 5px;
}

.tab {
  display: flex;
  clip-path: polygon(0% 0%, 100% 0%, 100% 120%, 0% 120%);
}
.tab .item {
  flex: 1 1;
  padding: 10px 0;
  color: gray;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.active {
  color: #EC5858;
  border-bottom: 3px solid #EC5858;
}